# -----------------------------------------------------------------------------
# ENVIRONMENT VARIABLES FOR CLIENT (NEXT.JS)
# -----------------------------------------------------------------------------

# DEFAULT: Gunakan Backend Lokal untuk development yang aman (Isolation)
NEXT_PUBLIC_API_URL="http://localhost:3001"

# ALTERNATIVE :
# Jika Anda tidak ingin melakukan setup backend dan database di lokal, 
# silakan hapus tanda '#' di bawah ini dan beri tanda '#' pada localhost di atas.
# Frontend lokal Anda akan langsung terhubung ke Live Production Backend.
# NEXT_PUBLIC_API_URL="https://server-nextask-production.up.railway.app"